<%- include("partials/header"); -%>
    <h2 class="section-header subheading nonveg-list cart checkout">CHECKOUT</h2>
<div class="column3 grid grid--2-col">
    <div class="address">
        <div class="col-50">
            <span class="payment-heading">Billing Address</span>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" class="input" id="fname" name="firstname" placeholder="John M. Doe">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" class="input" id="email" name="email" placeholder="john@example.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" class="input" id="adr" name="address" placeholder="542 W. 15th Street">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" class="input" id="city" name="city" placeholder="New York">
            <label for="state">State</label>
            <input type="text" class="input" id="state" name="state" placeholder="NY">
            <label for="zip">Zip</label>
            <input type="text" class="input" id="zip" name="zip" placeholder="10001">
        </div>
    </div>
    <div class="payment">
        <div class="col-50">
            <span class="payment-heading">Payment Details</span>
            <label for="cname">Name on Card</label>
            <input type="text" class="input" id="cname" name="cardname" placeholder="John More Doe">
            <label for="ccnum">Credit card number</label>
            <input type="text" class="input" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth">Exp Month</label>
            <input type="text" class="input" id="expmonth" name="expmonth" placeholder="September">
            <label for="expyear">Exp Year</label>
            <input type="text" class="input" id="expyear" name="expyear" placeholder="2018">
        </div>
    </div>
</div>
<div class="center1">
    <a href="#cart" class="nva-cta shop-item-button" target="_parent" rel="noopener noreferrer">Proceed To Pay</a>
</div>
<%- include("partials/footer"); -%>

