<%- include("partials/header"); -%>
    <main>
        <section class="section-hero">
            <div class="hero">
            <div class="hero-text-box">
                <h1 class="heading-primary">
                    Delicious Pizza delivered to your door, every 20 min!
                </h1>
                <p class="hero-description">
                    The yummy pizza that will make you eat. <br>
                    Tailored to your personal tastes. 
                </p>
                <a href="/#menu"  class="btn btn--full margin-right-sm" target="_blank" rel="noopener noreferrer">Start Eating </a>
                <a href="#"  class="btn btn--outline" target="_blank" rel="noopener noreferrer">Call Us</a>
                <div class="delivered-meals">
                    <div class="delivered-imgs">
                        <img src="css/img/customers/customer-1.jpg" alt="" srcset="">
                        <img src="css/img/customers/customer-2.jpg" alt="" srcset="">
                        <img src="css/img/customers/customer-3.jpg" alt="" srcset="">
                        <img src="css/img/customers/customer-4.jpg" alt="" srcset="">
                        <img src="css/img/customers/customer-5.jpg" alt="" srcset="">
                        <img src="css/img/customers/customer-6.jpg" alt="" srcset="">
                    </div>
                    <p class="delivered-text">
                    <span>250,000+ </span>pizza last year!
                    </p>
                </div>
            </div>
            <div class="hero-img-box">
                <img src="css/img/Untitled design (3).png" class="hero-img" alt="error">
            </div>
           </div> 
        </section>
        <section class="feature">
            <div class="container">
                <div class="grid1 grid--3-col grid--center-h">
                        <img src="css/img/feature/delivery-man.png" class="logos"  alt="" srcset="">
                        <img src="css/img/feature/high-quality.png" class="logos" alt="" srcset="">
                        <img src="css/img/feature/availability.png" class="logos" alt="" srcset="">
                        <p class="hero-description">Contactless Delivery</p>
                        <p class="hero-description">Fresh Made</p>
                        <p class="hero-description">Order At Any Time</p>
                </div>
                <div class="feature-text">

                </div>
            </div>
        <!-- </section>
        <section class="section-how">
            <div class="container">
            <span class="subheading">How It Works</span>
            <h2 class="secondary-heading">Your daily dose of health in 3 simple steps</h2>
            </div>
            <div class="container grid grid--2-col grid-centre-v">
                <div class="step-text-box">
                    <p class="step-number">01</p>
                    <h3 class="heading-tertiary">Tell us what you like (and what not):</h3>
                    <p class="step-description">Never again waste time thinking about what 
                        to eat! Omnifood AI 
                        will create a 100% personalized weekly meal 
                        plan just for you. It 
                        makes sure you get all the nutrients and 
                        vitamins you need, no 
                        matter what diet you follow!
                    </p>
                </div>
                <div class="step-img-box">
                    <img src="css/img/app/app-screen-1.png" class="step-img "alt="" srcset="">
                </div>
                <!-- step 2 -->
                <!-- <div class="step-img-box">
                    <img src="css/img/app/app-screen-2.png" class="step-img "alt="" srcset="">
                </div>
                <div class="step-text-box">
                    <p class="step-number">02</p>
                    <h3 class="heading-tertiary">Approve your weekly meal plan:</h3>
                    <p class="step-description">Once per week, approve the meal plan generated for you by 
                        Omnifood AI. You can change ingredients, swap entire meals, 
                        or even add your own recipes.
                    </p>
                </div>
                <!-- step 3 -->
                <!-- <div class="step-text-box">
                    <p class="step-number">03</p>
                    <h3 class="heading-tertiary">Receive meals at convenient time:</h3>
                    <p class="step-description">Best chefs in town will cook your selected meal every day, and we will deliver it to your door whenever works 
                        best for you. You can change delivery schedule and address daily!
                    </p>
                </div>
                <div class="step-img-box">
                    <img src="css/img/app/app-screen-3.png" class="step-img "alt="" srcset="">
                </div>
            </div>
        </section>  --> -->
        <section class="menu" id="menu">
            <div class="container">
            <span class="subheading">Menu</span>
            </div>
            <div class="container grid2">
                    <div class="meal">
                        <div class="flex">
                            <img class="menu-img" src="css/img/pizza/stock-photo-homemade-pizza-with-spices-tomatoes-and-garlic-on-dark-rustic-background-1387115810.jpg" alt="" srcset="">
                            <span class="tag veg">Vegetarion</span>
                            <a href="/veg" class="nva-cta" target="_parent" rel="noopener noreferrer">View &#10132</a>
                        </div>
                    </div>
                    <div class="meal">
                        <div class="flex">
                            <img class="menu-img" src="css/img/pizza/stock-photo-homemade-pizza-with-spices-tomatoes-and-garlic-on-dark-rustic-background-1387115810.jpg" alt="" srcset="">
                            <span class="tag non-veg">Non Vegetarion</span>
                            <a href="/nonveg" class="nva-cta" target="_parent" rel="noopener noreferrer">View &#10132</a>
                            <!-- <a href="/nonveg" class="nva-cta " target="_parent" rel="noopener noreferrer">View &#10132</a> -->
                        </div>
                    </div>
            </div>
        </section>    
    </main>
<%- include("partials/footer"); -%>
