<%- include("partials/header"); -%>

 <section class="menu">
            <div class="container">
            <span class="subheading veg-list">Veg pizza</span>
            </div>
            <div class="container grid grid--3-col column">
                    <div class="meal row">
                        <div class="flex">
                            <img class="menu-img veg-img" src="css/img/pizza/stock-photo-homemade-pizza-with-spices-tomatoes-and-garlic-on-dark-rustic-background-1387115810.jpg" alt="" srcset="">
                            <span class="tag ">PEPPY PANEER</span>
                            <span class="tag price">₹200</span>
                            <a href="#cart" class="nva-cta shop-item-button"  rel="noopener noreferrer">&#43 Add To Cart</a>
                        </div>
                    </div>
                    <div class="meal row">
                        <div class="flex">
                            <img class="menu-img veg-img" src="/css/img/pizza/5.jpg" alt="" srcset="">
                            <span class="tag ">MEXICAN GREEN WAVE</span>
                            <span class="tag price">&#8377 300</span>
                            <a href="#cart" class="nva-cta shop-item-button" target="_parent" rel="noopener noreferrer">&#43 Add To Cart</a>
                        </div>
                    </div>
                    <div class="meal row">
                        <div class="flex">
                            <img class="menu-img veg-img" src="css/img/pizza/stock-photo-homemade-pizza-with-spices-tomatoes-and-garlic-on-dark-rustic-background-1387115810.jpg" alt="" srcset="">
                            <span class="tag ">DELUXE VEGGIE</span>
                            <span class="tag price">&#8377 400</span>
                            <a href="#cart" class="nva-cta shop-item-button" target="_parent" rel="noopener noreferrer">&#43 Add To Cart</a>
                        </div>
                    </div>
                    <div class="meal row">
                        <div class="flex">
                            <img class="menu-img veg-img" src="/css/img/pizza/5.jpg" alt="" srcset="">
                            <span class="tag ">CHEESE N CORN</span>
                            <span class="tag price">&#8377 500</span>
                            <a href="#cart" class="nva-cta shop-item-button" target="_parent" rel="noopener noreferrer">&#43 Add To Cart</a>
                        </div>
                    </div>
                    <div class="meal row">
                        <div class="flex">
                            <img class="menu-img veg-img" src="css/img/pizza/stock-photo-homemade-pizza-with-spices-tomatoes-and-garlic-on-dark-rustic-background-1387115810.jpg" alt="" srcset="">
                            <span class="tag">PANEER MAKHANI</span>
                            <span class="tag price">&#8377 600</span>
                            <a href="#cart" class="nva-cta shop-item-button" target="_parent" rel="noopener noreferrer">&#43 Add To Cart</a>
                        </div>
                    </div>
                    <div class="meal row">
                        <div class="flex">
                            <img class="menu-img veg-img" src="/css/img/pizza/5.jpg" alt="" srcset="">
                            <span class="tag ">VEGGIE PARADISE</span>
                            <span class="tag price">&#8377 700</span>
                            <a href="#cart" class="nva-cta shop-item-button" target="_parent" rel="noopener noreferrer">&#43 Add To Cart</a>
                        </div>
                    </div>
            </div>
        </section>
        <section class="content-section" id="cart">
            <div class="container">
                <h2 class="section-header subheading nonveg-list cart checkout">CART</h2>
                <div class="cart-row">
                    <span class="cart-item cart-header cart-column">ITEM</span>
                    <span class="cart-price cart-header cart-column">PRICE</span>
                    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                </div>
                <div class="cart-items">
                    
                </div>
                <div class="cart-total">
                    <strong class="cart-total-title">Total</strong>
                    <span class="cart-total-price">₹0</span>
                </div>
                <div>
                    <div class="center">
                        <a href="/form" class="nva-cta shop-item-button purchase" target="_parent" rel="noopener noreferrer">Next</a>
                    </div>
                </div>
                
            </div>
        </section>

<%- include("partials/footer"); -%>
